<!DOCTYPE html>
<html>
    <title>Student Info</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    
    
</head>
<body>

    <style>
div{
    display: grid;
    align-items: center;
    background: green;
}
    </style>

    <h1>Student Information</h1>
    <div class="flex">

        <p class="col-xs-6">Name: <%= name %></p>
        <p class="col-xs-6">Age: <%= age %></p>
    </div>

</body>
</html>

